In [4]:
import pandas as pd
data = pd.read_csv("/content/exams.csv")

In [5]:
data

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,male,group A,high school,standard,completed,67.0,67.0,63.0
1,female,group D,some high school,free/reduced,none,40.0,59.0,55.0
2,male,group E,some college,free/reduced,none,59.0,60.0,50.0
3,male,group B,high school,standard,none,77.0,78.0,68.0
4,male,group E,associate's degree,standard,completed,78.0,73.0,68.0
...,...,...,...,...,...,...,...,...
995,male,group C,high school,standard,none,73.0,70.0,65.0
996,male,group D,associate's degree,free/reduced,completed,85.0,91.0,92.0
997,female,group C,some high school,free/reduced,none,32.0,35.0,41.0
998,female,group C,some college,standard,none,73.0,74.0,82.0
999,male,group A,some college,standard,completed,65.0,60.0,62.0

In [6]:
data.isnull().sum()

gender                         5
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     2
reading score                  6
writing score                  1
dtype: int64

In [8]:
data["gender"].mode()
data["gender"].fillna("male", inplace=True)

In [10]:
data["math score"].mean()
data["math score"].fillna("66.3807", inplace=True)

In [12]:
data["reading score"].mean()
data["reading score"].fillna("69.0482", inplace=True)

In [14]:
data["writing score"].mean()
data["writing score"].fillna("67.7447", inplace=True)

In [16]:
data.dtypes

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                     object
reading score                  object
writing score                  object
dtype: object

In [17]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

In [18]:
data['gender'] = le.fit_transform(data['gender'])

In [19]:
data['race/ethnicity'] = le.fit_transform(data['race/ethnicity'])

In [20]:
data['parental level of education'] = le.fit_transform(data['parental level of education'])

In [21]:
data['lunch'] = le.fit_transform(data['lunch'])

In [22]:
data['test preparation course'] = le.fit_transform(data['test preparation course'])

In [26]:
data['math score'].dtype

dtype('O')

In [27]:
data['math score'] = data['math score'].astype(float)

In [28]:
data['math score'].dtype

dtype('float64')

In [29]:
data['reading score'] = data['reading score'].astype(float)

In [30]:
data['writing score'] = data['writing score'].astype(float)

In [32]:
data.dtypes

gender                           int64
race/ethnicity                   int64
parental level of education      int64
lunch                            int64
test preparation course          int64
math score                     float64
reading score                  float64
writing score                  float64
dtype: object

In [34]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import  train_test_split
from sklearn.metrics import accuracy_score

# Split features and target
X = data.drop(columns=['writing score'])
y = data['writing score']

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

# Define the Decision Tree classifier with desired parameters
classifier = DecisionTreeClassifier(max_depth=5, criterion='gini')

# Train the classifier
classifier.fit(X_train, y_train)

# Predict on the test set
y_pred = classifier.predict(X_test)

In [35]:
y_test

521    82.0
737    81.0
740    51.0
660    97.0
411    72.0
       ...
109    33.0
430    85.0
77     81.0
84     39.0
286    84.0
Name: writing score, Length: 250, dtype: float64

In [36]:
y_pred

array([ 77.,  80.,  47.,  84.,  75.,  71., 100.,  80.,  80.,  80.,  63.,
        63.,  53.,  71.,  40.,  40.,  80.,  80.,  80.,  80.,  56.,  75.,
        66.,  84.,  65.,  84.,  80.,  77.,  66.,  63.,  80.,  71.,  48.,
        80.,  71.,  63.,  65.,  80.,  65.,  48.,  61., 100.,  47.,  62.,
        40.,  80.,  63.,  71.,  63.,  66.,  63.,  47.,  47.,  66.,  56.,
        80.,  63.,  80.,  65.,  80.,  48.,  53.,  89.,  63.,  95.,  84.,
        88.,  53.,  63.,  61.,  40.,  80.,  82.,  63.,  71.,  66., 100.,
        80.,  71.,  63.,  62.,  62.,  80.,  48.,  89.,  47.,  71.,  71.,
        62.,  66.,  80.,  53.,  71.,  61.,  80.,  71.,  77.,  48.,  80.,
        95.,  89.,  48.,  48.,  80.,  80.,  47.,  77.,  80.,  89.,  71.,
        61.,  66.,  71., 100.,  82.,  71.,  80.,  47.,  77.,  61.,  40.,
        80.,  56.,  66.,  88.,  48.,  80.,  71.,  82.,  80.,  89.,  66.,
        71.,  71.,  63.,  61.,  71.,  56.,  47.,  66.,  84.,  71.,  89.,
       100.,  40.,  66.,  47.,  39.,  75.,  82.,  63.,  88.,  56.,  80.,
        71.,  47.,  80.,  80.,  66.,  80.,  56.,  80.,  39.,  80.,  75.,
        47.,  62.,  39.,  66.,  65.,  47.,  40.,  89.,  61.,  63.,  80.,
        62.,  89.,  95.,  71.,  63.,  40.,  53.,  80.,  63.,  63.,  56.,
        63.,  80.,  63.,  48.,  39.,  63.,  66.,  63.,  47.,  53.,  89.,
        82.,  71.,  53.,  89.,  63.,  66.,  71.,  82.,  89.,  66.,  66.,
        80.,  71.,  77.,  63.,  82.,  80.,  89.,  80.,  77.,  63.,  77.,
        56.,  62.,  80.,  63.,  66.,  62.,  80.,  63.,  71.,  66.,  80.,
        77.,  82.,  84.,  63.,  75.,  75.,  61.,  63.,  80.,  80.,  77.,
        80.,  47.,  62.,  39.,  80.,  89.,  39.,  89.])

In [37]:
y

0      63.0
1      55.0
2      50.0
3      68.0
4      68.0
       ...
995    65.0
996    92.0
997    41.0
998    82.0
999    62.0
Name: writing score, Length: 1000, dtype: float64

In [39]:
# Input feature values from the user
feature_values = []
for feature_name in X.columns:
    value = input(f"Enter value for {feature_name}: ")
    feature_values.append(float(value))

# Predict the target variable based on user input
predicted_target = classifier.predict([feature_values])

print("Predicted writing score:", predicted_target[0])

Enter value for gender: 1
Enter value for race/ethnicity: 3
Enter value for parental level of education: 3
Enter value for lunch: 0
Enter value for test preparation course: 0
Enter value for math score: 80
Enter value for reading score: 70
Predicted target variable: 71.0

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [40]:
from sklearn.neighbors import KNeighborsClassifier

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Define the K-Nearest Neighbors classifier with desired parameters
classifier = KNeighborsClassifier(n_neighbors=5)

# Train the classifier
classifier.fit(X_train, y_train)

# Predict on the test set
y_pred = classifier.predict(X_test)

In [41]:
y_test

521    82.0
737    81.0
740    51.0
660    97.0
411    72.0
       ...
408    43.0
332    43.0
208    84.0
613    82.0
78     76.0
Name: writing score, Length: 200, dtype: float64

In [42]:
y_pred

array([ 71.,  85.,  44.,  83.,  65.,  64., 100.,  82.,  79.,  72.,  56.,
        53.,  50.,  64.,  24.,  24.,  81.,  67.,  72.,  76.,  51.,  71.,
        63.,  83.,  58.,  85.,  69.,  86.,  60.,  63.,  68.,  64.,  33.,
        80.,  71.,  60.,  64.,  87.,  64.,  53.,  50., 100.,  48.,  53.,
        38.,  70.,  58.,  62.,  54.,  63.,  54.,  44.,  33.,  62.,  45.,
        76.,  59.,  80.,  64.,  86.,  48.,  49.,  83.,  61.,  86.,  81.,
        96.,  60.,  64.,  63.,  32.,  70.,  72.,  66.,  70.,  66.,  88.,
        80.,  66.,  57.,  54.,  54.,  86.,  38.,  83.,  33.,  64.,  72.,
        54.,  49.,  72.,  50.,  68.,  63.,  76.,  73.,  73.,  44.,  78.,
        97.,  78.,  43.,  33.,  68.,  86.,  49.,  70.,  73.,  84.,  62.,
        53.,  65.,  70., 100.,  83.,  65.,  78.,  44.,  69.,  51.,  35.,
        86.,  46.,  70.,  89.,  42.,  79.,  64.,  71.,  77.,  84.,  58.,
        64.,  65.,  66.,  61.,  63.,  56.,  48.,  69.,  85.,  68.,  89.,
       100.,  32.,  60.,  43.,  41.,  73.,  71.,  57.,  97.,  47.,  82.,
        70.,  27.,  70.,  71.,  60.,  73.,  49.,  82.,  27.,  71.,  75.,
        49.,  52.,  23.,  65.,  65.,  47.,  42.,  90.,  54.,  54.,  79.,
        63.,  90.,  81.,  62.,  59.,  40.,  44.,  72.,  68.,  63.,  57.,
        57.,  70.,  63.,  43.,  23.,  58.,  64.,  64.,  48.,  50.,  84.,
        71.,  68.])

In [49]:
# Input feature values from the user
feature_values = []
for feature_name in X.columns:
    value = input(f"Enter value for {feature_name}: ")
    feature_values.append(float(value))

# Predict the target variable based on user input
predicted_target = classifier.predict([feature_values])

print("Predicted writing score:", predicted_target[0])

Enter value for gender: 0
Enter value for race/ethnicity: 1
Enter value for parental level of education: 0
Enter value for lunch: 0
Enter value for test preparation course: 2
Enter value for math score: 60
Enter value for reading score: 55

TypeError: KNeighborsClassifier.predict() missing 1 required positional argument: 'X'

In [44]:
# Importing necessary libraries
from sklearn.linear_model import LinearRegression

# Sample dataset (features and target variable)
# Replace X and y with your dataset
X = data.drop(columns=['writing score'])
y = data['writing score']

# Splitting the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Creating a Linear Regression model
model = LinearRegression()

# Training the model
model.fit(X_train, y_train)

# Making predictions
y_pred = model.predict(X_test)

In [45]:
y_test

521    82.0
737    81.0
740    51.0
660    97.0
411    72.0
       ...
408    43.0
332    43.0
208    84.0
613    82.0
78     76.0
Name: writing score, Length: 200, dtype: float64

In [46]:
y_pred

array([ 83.04982045,  78.30344679,  48.44489049,  94.10140152,
        71.95748867,  70.60463141, 101.64277204,  81.59948004,
        86.22889869,  77.32224027,  57.21715902,  59.74539045,
        53.87004887,  69.20163648,  32.21697474,  30.47197164,
        77.12798875,  76.47477224,  75.14392593,  79.51011406,
        55.43849312,  75.5161786 ,  74.34160286,  95.57844406,
        71.41867032,  93.01300747,  76.10115475,  76.71620623,
        70.52707847,  64.50785841,  79.94711132,  68.61092541,
        45.52550031,  84.93669366,  74.48207111,  65.58960484,
        71.77151551,  84.19322428,  68.59920918,  51.83314178,
        58.22194751, 103.75963881,  44.61701883,  60.0921992 ,
        40.84812501,  77.60586101,  66.25661371,  72.07856871,
        61.68644543,  68.77685694,  60.18395896,  48.36941369,
        46.2291418 ,  71.95419475,  52.46225802,  76.27844458,
        65.4655501 ,  86.65682051,  67.92126016,  80.85205043,
        43.00104043,  52.49518526,  86.34687836,  64.64092262,
        96.90116162,  89.86991662,  95.40185968,  59.67894248,
        70.40600153,  60.49463976,  39.81300467,  76.45328854,
        74.04817286,  69.72195169,  66.04796789,  64.39632985,
       101.57620775,  82.04035387,  66.95977756,  58.52681519,
        61.20291265,  59.23446191,  81.80066828,  47.20209208,
        79.4830391 ,  45.27210164,  74.72270367,  75.74501565,
        55.43513942,  68.59660581,  80.46629887,  54.77634484,
        71.38957464,  59.98658728,  84.85537256,  67.33536466,
        72.73461626,  54.91147028,  79.78916468,  96.84645721,
        89.20020573,  51.31010649,  46.44544469,  74.09631368,
        83.06543252,  47.24883105,  74.04358647,  85.13469738,
        89.62102505,  67.31266776,  56.50182066,  62.9802815 ,
        69.69149917, 102.52496925,  66.6786508 ,  71.32999028,
        87.49366293,  46.53458172,  76.50780887,  60.18151308,
        41.34804554,  82.58519366,  59.54088893,  68.58543647,
        92.24808171,  46.17165135,  75.1257704 ,  70.20778979,
        77.9538505 ,  81.91449877,  87.68910829,  70.90917097,
        66.84085121,  66.6610823 ,  67.43812437,  64.07270013,
        71.751461  ,  57.61699612,  42.42187154,  64.98407268,
        86.98577526,  65.41059265,  93.46738456,  99.44523889,
        43.81899455,  62.45325866,  51.87965156,  30.63205887,
        79.87029703,  79.88646367,  65.14646176,  91.86314498,
        59.05113563,  79.68824395,  75.82579016,  44.28624436,
        79.25353086,  76.32468167,  63.67438918,  75.03918864,
        53.15869039,  80.73730031,  40.65695757,  73.90212653,
        72.2055623 ,  52.01630324,  57.15987201,  25.36812138,
        65.14291939,  69.5314763 ,  45.47827922,  44.6223809 ,
        89.84453706,  62.46434871,  64.05783852,  80.12340223,
        59.13375718,  89.61662733,  90.96514704,  72.91848904,
        58.89630915,  41.55181151,  47.46240641,  78.07308349,
        60.99359595,  66.61510135,  55.15258506,  65.13078531,
        84.67241912,  63.51428427,  48.71212624,  34.36989327,
        66.81048233,  62.28055521,  60.13544081,  45.99634453,
        50.40613211,  83.82916474,  78.00463173,  70.57253987])

In [50]:
# Input feature values from the user
feature_values = []
for feature_name in X.columns:
    value = input(f"Enter value for {feature_name}: ")
    feature_values.append(float(value))

# Predict the target variable based on user input
predicted_target = model.predict([feature_values])

print("Predicted writing score:", predicted_target[0])

Enter value for gender: 1
Enter value for race/ethnicity: 2
Enter value for parental level of education: 0
Enter value for lunch: 1
Enter value for test preparation course: 1
Enter value for math score: 55
Enter value for reading score: 60
Predicted writing score: 55.08247839796575

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(